.isCanceled {
	opacity: .75;
}
.simpleDisplay-blankItem {
	width: 330px;
	height: 82px;
}
.grid-0 {
  display: grid;
  grid-template-columns: 1fr 7fr 3fr 1fr 4fr;
}

.grid-cancel-header {
  display: grid;
  grid-template-columns: 1fr 1fr 7fr 3fr 1fr 4fr;
}

.grid-cancel-0 {
  display: grid;
  grid-template-columns: 1fr 16fr;
}

.grid-cancel-1 {
  display: grid;
  grid-template-columns: 1fr 7fr 3fr 1fr 4fr;
}

.grid-1 {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 5px;
}

.head-options {
	display: flex;
}

.scrollable {
  height: 200px;
  overflow-y: scroll;
}

.tmp-hide {
  display: none;
}

.no-touch {
  pointer-events: none;
}

.disabled {
	pointer-events: none;
}

.myinput-group-text {
	display: block;
	width: 100px;
}

.cancelDisplay-itemsWrap {
	height: 200px;
}

.head-option {
	margin-right: 2%;
}
.barcodeInputGroup {
	width: 23%;
}
.multiplicationInputGroup {
	width: 10%;
}
.kaikeiInputGroup {
	width: 13%;
}

.registerAdvArea {
	height: 150px;
	overflow-x: hidden;
}

.registerAdvImg {
	width: auto;
	height: 100%;
}

.simpleSalesArea {
	margin-bottom: 10px;
	margin-top: 2px;
	border: 1px solid #d1d4d8;
	border-radius: 5px;
	padding: 5px 0;
	text-align: center;
}

.simpleSalesSign {
	font-size: 1.2rem;
	letter-spacing: 1rem;
}

.simpleSalesBtn {
	width: 200px;
}

.simpleSalesBtn:not(:first-child) {
  margin-left: 30px;
}

.registerNormalDisplay {
	border: 1px solid #d1d4d8;
	padding: 8px;
	border-radius: 5px;
}

.simpleSalesItemBtn-header {
	text-align: center;
}

.simpleSalesItemBtn-itemName {
	font-size: 1.3rem;
	font-weight: bold;
}

.simpleSalesItemBtn-main {
	display: flex;
}

.simpleSalesItem-img {
	width: 160px;
	height: 92px;
}

.simpleSalesItemBtn-mainRight {
	display: flex;
	flex-direction: column;
	margin-left: 5%;
	text-align: left;
	font-size: 1.1rem;
}